# CLEANING NOTE
We will use this note to address nan values in our data_06-21.csv

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [20]:
df=pd.read_csv('../data/raw/data_06-21.csv')
df.head(30)

,country_code,country_id,product,product_code,flow,unit,2007,2008,2009,2010,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,8,Albania,roundwood,14,EXPORTS,1000 m3,56.76,56.76,56.76,56.76,...,78.90,78.90,78.90,78.90,78.90,26.67,15.35,14.02,11.80,14.26
1,8,Albania,roundwood,14,EXPORTS,1000 US$,1193.11,1193.11,1193.11,1193.11,...,3830.00,3830.00,3830.00,3830.00,3830.00,1676.93,1907.49,1804.94,1692.82,2214.79
2,8,Albania,roundwood,14,IMPORTS,1000 m3,0.59,0.59,0.59,1.87,...,6.38,105.00,120.00,120.00,120.00,30.47,23.80,18.46,39.04,23.37
3,8,Albania,roundwood,14,IMPORTS,1000 US$,68.69,68.69,68.69,559.29,...,743.00,3741.00,4686.00,4686.00,4686.00,1648.96,2325.06,1548.85,3807.80,2199.58
4,8,Albania,roundwood,14,REMOVALS,1000 m3,430.00,430.00,430.00,430.00,...,1180.00,1180.01,1180.01,1180.01,1180.01,1230.01,905.34,917.84,874.45,1021.91
5,8,Albania,roundwood,14,EXPORTS,1000 m3,0.03,0.03,0.03,0.03,...,1.00,1.00,1.00,1.00,1.00,22.13,9.05,9.62,7.32,5.95
6,8,Albania,roundwood,14,EXPORTS,1000 US$,10.63,10.63,10.63,10.63,...,102.00,102.00,102.00,102.00,102.00,1363.13,1299.50,1243.79,1043.87,859.25
7,8,Albania,roundwood,14,IMPORTS,1000 m3,0.37,0.37,0.37,0.37,...,1.00,1.00,1.00,1.00,1.00,18.90,7.03,8.24,10.71,9.60
8,8,Albania,roundwood,14,IMPORTS,1000 US$,58.29,58.29,58.29,58.29,...,106.00,106.00,106.00,106.00,106.00,910.40,921.28,697.51,1147.74,846.64
9,8,Albania,roundwood,14,REMOVALS,1000 m3,30.66,30.66,30.66,30.66,...,30.66,30.67,30.67,30.67,30.67,80.67,58.80,73.30,48.05,80.39
10,8,Albania,roundwood,14,EXPORTS,1000 m3,0.43,0.43,0.43,0.43,...,2.00,2.00,2.00,2.00,2.00,4.54,6.30,4.40,4.47,8.30
11,8,Albania,roundwood,14,EXPORTS,1000 US$,128.71,128.71,128.71,128.71,...,153.00,153.00,153.00,153.00,153.00,313.79,607.99,561.14,648.95,1355.54
12,8,Albania,roundwood,14,IMPORTS,1000 m3,0.22,0.22,0.22,1.50,...,4.00,4.00,19.00,19.00,19.00,11.56,16.76,10.21,28.33,13.76
13,8,Albania,roundwood,14,IMPORTS,1000 US$,10.40,10.40,10.40,501.00,...,579.00,635.00,1580.00,1580.00,1580.00,738.55,1403.77,851.33,2660.06,1352.94
14,8,Albania,roundwood,14,REMOVALS,1000 m3,399.33,399.33,399.33,399.33,...,1149.33,1149.33,1149.33,1149.33,1149.33,1149.33,846.54,844.54,826.40,941.51
15,8,Albania,wood fuel,21,EXPORTS,1000 m3,56.30,56.30,56.30,56.30,...,75.90,75.90,75.90,75.90,75.90,26.67,15.35,14.02,11.80,14.26
16,8,Albania,wood fuel,21,EXPORTS,1000 US$,1053.76,1053.76,1053.76,1053.76,...,3575.00,3575.00,3575.00,3575.00,3575.00,1676.93,1907.49,1804.94,1692.82,2214.79
17,8,Albania,wood fuel,21,IMPORTS,1000 m3,0.00,0.00,0.00,0.00,...,1.38,100.00,100.00,100.00,100.00,21.37,8.00,3.53,13.59,1.37
18,8,Albania,wood fuel,21,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,...,58.00,3000.00,3000.00,3000.00,3000.00,1030.03,1133.92,331.75,1202.78,274.25
19,8,Albania,wood fuel,21,REMOVALS,1000 m3,350.00,350.00,350.00,350.00,...,1100.00,1100.00,1100.00,1100.00,1100.00,1150.00,770.39,786.24,761.68,884.97
20,8,Albania,wood fuel,21,EXPORTS,1000 m3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22.13,9.05,9.62,7.32,5.95
21,8,Albania,wood fuel,21,EXPORTS,1000 US$,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1363.13,1299.50,1243.79,1043.87,859.25
22,8,Albania,wood fuel,21,IMPORTS,1000 m3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.96,5.32,2.57,0.87,0.00
23,8,Albania,wood fuel,21,IMPORTS,1000 US$,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,853.77,754.80,245.88,136.44,0.00
24,8,Albania,wood fuel,21,REMOVALS,1000 m3,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,50.00,0.39,1.24,0.68,0.00
25,8,Albania,wood fuel,21,EXPORTS,1000 m3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.54,6.30,4.40,4.47,8.30
26,8,Albania,wood fuel,21,EXPORTS,1000 US$,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,313.79,607.99,561.14,648.95,1355.54
27,8,Albania,wood fuel,21,IMPORTS,1000 m3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.41,2.68,0.95,12.72,1.37
28,8,Albania,wood fuel,21,IMPORTS,1000 US$,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,176.26,379.11,85.87,1066.33,274.25
29,8,Albania,wood fuel,21,REMOVALS,1000 m3,350.00,350.00,350.00,350.00,...,1100.00,1100.00,1100.00,1100.00,1100.00,1100.00,770.00,784.99,761.00,884.97

In [21]:
df['flow'].unique()

array(['EXPORTS', 'IMPORTS', 'REMOVALS', 'PRODUCTION'], dtype=object)

In [22]:
df['country_id'].unique()

array(['Albania', 'Andorra', 'Azerbaijan', 'Austria', 'Armenia',
       'Belgium', 'Belgium & Luxembourg', 'Bosnia and Herzegovina',
       'Bulgaria', 'Belarus', 'Canada', 'Croatia', 'Cyprus',
       'Former CSFR', 'Czechia', 'Denmark', 'Estonia', 'Finland',
       'France', 'Georgia', 'Germany',
       'Former German Democratic Republic',
       'Germany, Former Federal Republic of', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Kazakhstan',
       'Kyrgyzstan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Malta', 'Republic of Moldova', 'Montenegro', 'Netherlands',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Russian Federation',
       'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Tajikistan', 'Turkey', 'Turkmenistan', 'Ukraine',
       'North Macedonia', 'Former Soviet Union', 'United Kingdom',
       'United States', 'Uzbekistan', 'Former SFRY',
       'Serbia and Montenegro'], dtype=object)

In [23]:
#check for null values in the dataset
df.isnull().sum()

country_code       0
country_id         0
product            0
product_code       0
flow               0
unit               0
2007            7003
2008            6563
2009            6486
2010            6470
2011            5828
2012            5512
2013            5549
2014            5509
2015            5423
2016            5359
2017            5420
2018            5498
2019            5349
2020            5403
2021            5398
dtype: int64

Question

we are going to answer the important question on volume of trade deficit, that will be achieved by calculating import vs exports on each category

first we drop all rows with only null values

In [24]:
#drop rows with only null values
df.dropna(how='all', inplace=True)

In [25]:
#check for null values in the dataset
df.isnull().sum()

country_code       0
country_id         0
product            0
product_code       0
flow               0
unit               0
2007            7003
2008            6563
2009            6486
2010            6470
2011            5828
2012            5512
2013            5549
2014            5509
2015            5423
2016            5359
2017            5420
2018            5498
2019            5349
2020            5403
2021            5398
dtype: int64

In [26]:
data=df.copy()  #make a copy of the dataset

Most of the defunct states do not have data from 2007 , so we will use a dropna function to drop all rows where there are null values , and specify a subset from where we intend to scan the null values. the subset is based on col index from on where we suspect the null values starts from (we obtained this by using isnull)

In [27]:
#drop rows where there are only null values from column index 6 onwards
data.dropna(subset=data.columns[6:], how='all', inplace=True)
data.isnull().sum()

country_code       0
country_id         0
product            0
product_code       0
flow               0
unit               0
2007            3665
2008            3225
2009            3148
2010            3132
2011            2490
2012            2174
2013            2211
2014            2171
2015            2085
2016            2021
2017            2082
2018            2160
2019            2011
2020            2065
2021            2060
dtype: int64

In [28]:
#check countries left in the dataset
data['country_id'].unique()

array(['Albania', 'Azerbaijan', 'Austria', 'Armenia', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Belarus', 'Canada',
       'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland',
       'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'Ireland', 'Israel', 'Italy', 'Kazakhstan', 'Kyrgyzstan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta',
       'Republic of Moldova', 'Montenegro', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Romania', 'Russian Federation', 'Serbia',
       'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Tajikistan', 'Turkey', 'Turkmenistan', 'Ukraine',
       'North Macedonia', 'United Kingdom', 'United States', 'Uzbekistan'],
      dtype=object)

obviously we have dropped all of defunct states
before we drop further null values, we will aggregate product values by product, country_id and flow . This is because we reduced the variability of commodity and as a result we need to further sum up our new categorized product

In [29]:
data.shape

(24921, 21)

In [30]:
#check data type in table
data.dtypes

country_code      int64
country_id       object
product          object
product_code      int64
flow             object
unit             object
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

FURTHER CLEANING

In [31]:

data.describe()

,country_code,product_code,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,24921.000000,24921.000000,2.125600e+04,2.169600e+04,2.177300e+04,2.178900e+04,2.243100e+04,2.274700e+04,2.271000e+04,2.275000e+04,2.283600e+04,2.290000e+04,2.283900e+04,2.276100e+04,2.291000e+04,2.285600e+04,2.286100e+04
mean,434.785482,14.213274,8.418198e+04,8.296862e+04,6.648969e+04,7.424569e+04,7.921443e+04,6.955151e+04,6.998450e+04,7.105588e+04,6.408132e+04,6.274469e+04,6.737854e+04,7.416852e+04,6.819006e+04,6.409746e+04,7.943179e+04
std,257.730235,7.550997,4.887408e+05,4.830744e+05,3.887883e+05,4.356210e+05,4.631454e+05,4.250700e+05,4.601224e+05,4.506113e+05,4.294519e+05,4.137405e+05,4.412636e+05,4.856634e+05,4.469090e+05,4.333007e+05,5.514181e+05
min,8.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-5.000000e-02,-3.410000e+00,-4.600000e+00,-1.000000e-02,-1.000000e-02
25%,208.000000,8.000000,7.700000e-01,5.000000e-01,6.400000e-01,6.400000e-01,9.650000e-01,5.900000e-01,3.800000e-01,3.000000e-01,3.075000e-01,2.800000e-01,9.200000e-01,1.000000e+00,9.425000e-01,7.200000e-01,9.100000e-01
50%,428.000000,14.000000,1.617900e+02,1.485700e+02,1.413400e+02,1.541400e+02,1.595300e+02,1.402400e+02,1.286500e+02,1.282250e+02,1.224900e+02,1.274950e+02,1.688000e+02,1.653900e+02,1.611000e+02,1.562850e+02,1.704500e+02
75%,688.000000,20.000000,6.933240e+03,6.757990e+03,5.587520e+03,6.194460e+03,6.509145e+03,5.500315e+03,5.050852e+03,5.174330e+03,4.687007e+03,4.705307e+03,5.670295e+03,5.953560e+03,5.813847e+03,5.360977e+03,6.156000e+03
max,860.000000,27.000000,1.914509e+07,1.705862e+07,1.366226e+07,1.685944e+07,1.744384e+07,1.884639e+07,2.565131e+07,2.238872e+07,2.450705e+07,2.269561e+07,2.430842e+07,2.773952e+07,2.621497e+07,2.663100e+07,3.411315e+07

# REPLACING NAN VALUES

the question on what to fill up the empty spaces persists , but first of all, there actual cells in the csv file with 0 as the value, so the collectors had no problem indicating they have 0 value . Which begs the question if it is an error?

but ->

Replacing the values with either mean or median won´t help as our questioins bother on real data rather than calculations, so we will replace all nan values with 0

In [32]:
#replace null values with 0
data.fillna(0, inplace=True)
data.isnull().sum()

country_code    0
country_id      0
product         0
product_code    0
flow            0
unit            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
dtype: int64

In [33]:
#now convert data to csv file
data.to_csv('../data/raw/data_regrp.csv', index=False)

# Aggregating data

In [34]:
columns_index= df.iloc[:, 6:]   

grouped = data.groupby(['country_id', 'product','product_code', 'flow', 'unit'])[columns_index.columns].sum().reset_index()
grouped.head(30)

,country_id,product,product_code,flow,unit,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albania,"articles, moulded or pressed from pulp",0,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,2.20,5.58,5.58,5.58,5.58,5.58,64.79,0.00,0.00,0.00,261.38
1,Albania,"articles, moulded or pressed from pulp",0,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,182.85,403.10,403.10,403.10,403.10,403.10,150.77,31.33,31.33,31.33,623.30
2,Albania,builder's joinery and carpentry of wood,1,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,1946.15,1733.80,1733.80,1733.80,1733.80,1733.80,726.61,788.51,1242.12,2142.45,0.00
3,Albania,builder's joinery and carpentry of wood,1,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,7463.16,6330.50,6330.50,6330.50,6330.50,6330.50,2025.15,3017.01,4040.18,6526.21,6005.65
4,Albania,case materials,2,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,0.00,200.00,200.00,200.00,200.00,200.00,0.00,0.00,0.00,0.00,0.00
5,Albania,case materials,2,EXPORTS,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.29,0.30,0.30,0.30,0.30,0.00,0.00,0.00,0.00,0.00
6,Albania,case materials,2,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,1327.00,1126.00,1126.00,1126.00,1126.00,1126.00,94.02,2001.98,2201.54,1914.22,519.76
7,Albania,case materials,2,IMPORTS,1000 m.t.,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,0.06,2.74,3.59,3.25,0.53
8,Albania,case materials,2,PRODUCTION,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Albania,domestic/decorative products,3,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,4337.58,3198.69,3198.70,3198.70,3198.70,3198.70,0.00,2043.93,626.10,4964.03,0.00
10,Albania,domestic/decorative products,3,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,927.95,894.85,894.86,894.86,894.86,894.86,348.40,483.70,324.29,549.89,826.84
11,Albania,engineered wood products,4,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,288.00,483.00,501.84,483.00,483.00,483.00,0.00,43.24,649.17,2710.42,1707.00
12,Albania,engineered wood products,4,EXPORTS,1000 m3,0.00,0.00,0.00,0.00,0.00,2.40,2.42,2.40,2.40,2.40,0.00,0.14,0.22,2.76,1.98
13,Albania,engineered wood products,4,IMPORTS,1000 US$,15888.03,26751.59,27396.59,25937.68,60279.13,54743.45,54737.25,54887.80,54887.80,54887.80,50321.62,65095.95,76692.59,90619.20,133282.50
14,Albania,engineered wood products,4,IMPORTS,1000 m3,140.81,109.21,126.21,126.90,296.16,273.34,273.33,273.48,273.48,273.48,228.45,105.97,111.19,168.78,149.61
15,Albania,engineered wood products,4,PRODUCTION,1000 m3,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,22.00,0.00,0.00,0.00,0.00
16,Albania,non-wood pulp,5,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,0.00,9.00,9.00,9.00,9.00,9.00,0.00,0.00,0.00,0.00,0.00
17,Albania,non-wood pulp,5,EXPORTS,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,Albania,non-wood pulp,5,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,91.00,98.00,98.00,98.00,98.00,98.00,0.00,0.00,0.00,906.43,906.43
19,Albania,non-wood pulp,5,IMPORTS,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.76,1.76
20,Albania,non-wood pulp,5,PRODUCTION,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,Albania,other manufactured wood products,6,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,918.69,1651.84,1651.85,1651.85,1651.85,1651.85,3000.96,3694.28,3694.28,5385.55,3587.25
22,Albania,other manufactured wood products,6,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,1076.63,1051.13,1051.14,1051.14,1051.14,1051.14,1263.09,862.31,862.31,1703.05,1363.36
23,Albania,other pulp,7,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,0.00,9.00,9.00,9.00,9.00,9.00,0.00,0.00,0.00,0.00,0.00
24,Albania,other pulp,7,EXPORTS,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,Albania,other pulp,7,IMPORTS,1000 US$,0.00,0.00,0.00,0.00,535.00,628.00,628.00,628.00,628.00,628.00,0.00,0.00,0.00,906.43,906.43
26,Albania,other pulp,7,IMPORTS,1000 m.t.,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,1.76,1.76
27,Albania,other pulp,7,PRODUCTION,1000 m.t.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,Albania,"paper,print and packaging",8,EXPORTS,1000 US$,0.00,0.00,0.00,0.00,60150.63,68291.81,54312.68,54532.68,54857.68,55445.68,73176.71,94221.77,92433.11,11200.83,95931.99
29,Albania,"paper,print and packaging",8,EXPORTS,1000 m.t.,0.08,0.08,0.08,0.08,11.69,11.98,14.48,18.14,19.71,23.04,14.66,14.02,11.02,17.33,9.18

OW WE WILL ANSWER THE FIRST QUESTION WHICH IS TO COMPARE volume vs value of trade and find the unit price

for most status , this was not provided, so we will need a query to only extract products from countries where the product has export volume (1000mt) and value(1000US$). and we will compare countries with similar products to see what value they are getting for the same product

| country_id | product | flow | ratio |
|------------|---------|------|-------|
| Albania  | engineered wood products | IMPORTS | 15888.03/140.81 |
| Albania | paper,print and packaging | EXPORTS | 0.08/ ? |

In [54]:
grouped_melted = grouped.melt(id_vars=['country_id','product','product_code','flow','unit']).rename(columns={"variable":"year"})
grouped_melted = grouped_melted[grouped_melted['value'] != 0]
grouped_melted.head(10)

#grouped[(grouped['country_id']=="Albania") & (grouped['product']=="case materials") & (grouped['flow']=="EXPORTS")].iloc#[1,4]/ grouped[(grouped['country_id']=="Albania") & (grouped['product']=="case materials") & (grouped['flow']=="EXPORTS")].iloc[0,4]

,country_id,product,product_code,flow,unit,year,value
13,Albania,engineered wood products,4,IMPORTS,1000 US$,2007,15888.03
14,Albania,engineered wood products,4,IMPORTS,1000 m3,2007,140.81
15,Albania,engineered wood products,4,PRODUCTION,1000 m3,2007,12.00
29,Albania,"paper,print and packaging",8,EXPORTS,1000 m.t.,2007,0.08
31,Albania,"paper,print and packaging",8,IMPORTS,1000 m.t.,2007,20.63
40,Albania,pulpwood,11,IMPORTS,1000 m.t.,2007,4.30
53,Albania,roundwood,14,EXPORTS,1000 US$,2007,1750.46
54,Albania,roundwood,14,EXPORTS,1000 m3,2007,58.59
55,Albania,roundwood,14,IMPORTS,1000 US$,2007,343.42
56,Albania,roundwood,14,IMPORTS,1000 m3,2007,2.95

In [55]:
records = []
for country in grouped_melted['country_id'].unique():
    for product in grouped_melted[grouped_melted['country_id']==country]['product'].unique():
        for year in grouped_melted[(grouped_melted['country_id']==country) & (grouped_melted['product']==product)]['year'].unique():
            for flow in ["IMPORTS","EXPORTS"]:
                subset = grouped_melted[(grouped_melted['country_id']==country) & (grouped_melted['product']==product) & (grouped_melted['flow']==flow) & (grouped_melted['year']==year)]
                if subset.shape[0] == 2:
                    ratio = subset.iloc[0,-1] / subset.iloc[1,-1]
                    records.append({"country_id": country, "product": product, "flow": flow, "year": year, "ratio":round(ratio,2)})

unit_price=pd.DataFrame(records)

In [57]:
unit_price.head(20)

   country_id                   product     flow  year    ratio
0     Albania  engineered wood products  IMPORTS  2007   112.83
1     Albania  engineered wood products  IMPORTS  2008   244.96
2     Albania  engineered wood products  IMPORTS  2009   217.07
3     Albania  engineered wood products  IMPORTS  2010   204.39
4     Albania  engineered wood products  IMPORTS  2011   203.54
5     Albania  engineered wood products  IMPORTS  2012   200.28
6     Albania  engineered wood products  EXPORTS  2012   201.25
7     Albania  engineered wood products  IMPORTS  2013   200.26
8     Albania  engineered wood products  EXPORTS  2013   207.37
9     Albania  engineered wood products  IMPORTS  2014   200.70
10    Albania  engineered wood products  EXPORTS  2014   201.25
11    Albania  engineered wood products  IMPORTS  2015   200.70
12    Albania  engineered wood products  EXPORTS  2015   201.25
13    Albania  engineered wood products  IMPORTS  2016   200.70
14    Albania  engineered wood products  EXPORTS  2016   201.25
15    Albania  engineered wood products  IMPORTS  2017   220.27
16    Albania  engineered wood products  IMPORTS  2018   614.29
17    Albania  engineered wood products  EXPORTS  2018   308.86
18    Albania  engineered wood products  IMPORTS  2019   689.74
19    Albania  engineered wood products  EXPORTS  2019  2950.77

In [58]:
#export to csv
unit_price.to_csv('../data/cleaned/unit_price.csv', index=False)

NEXT WE WILL ANSWER THE QUESTION ON TRADE DEFICIT

Here we will find the difference only if the import and export were reported . meaning with out both, we drop

In [69]:
#export grouped_melted to csv
grouped_melted.to_csv('../data/cleaned/grouped_melted.csv', index=False)

In [73]:
#drop all rows where, where the unit is not 1000 US$ and flow is not IMPORTS or EXPORTS
grouped_melted.drop(grouped_melted[(grouped_melted['unit'] != '1000 US$') ].index, inplace=True)

In [74]:
grouped_melted.head(20)

,country_id,product,product_code,flow,unit,year,value
13,Albania,engineered wood products,4,IMPORTS,1000 US$,2007,15888.03
53,Albania,roundwood,14,EXPORTS,1000 US$,2007,1750.46
55,Albania,roundwood,14,IMPORTS,1000 US$,2007,343.42
59,Albania,sawnwood,16,EXPORTS,1000 US$,2007,12044.33
61,Albania,sawnwood,16,IMPORTS,1000 US$,2007,11551.57
68,Albania,veneer sheets,19,IMPORTS,1000 US$,2007,787.47
71,Albania,wood charcoal,20,EXPORTS,1000 US$,2007,1005.87
76,Albania,wood fuel,21,EXPORTS,1000 US$,2007,1053.76
86,Albania,"wood residue, chips and particles",23,EXPORTS,1000 US$,2007,194.00
93,Albania,wood-based panels,24,IMPORTS,1000 US$,2007,22791.17
106,Armenia,"articles, moulded or pressed from pulp",0,IMPORTS,1000 US$,2007,260.70
107,Armenia,builder's joinery and carpentry of wood,1,EXPORTS,1000 US$,2007,7.80
108,Armenia,builder's joinery and carpentry of wood,1,IMPORTS,1000 US$,2007,2906.90
111,Armenia,case materials,2,IMPORTS,1000 US$,2007,4276.63
114,Armenia,domestic/decorative products,3,EXPORTS,1000 US$,2007,33.90
115,Armenia,domestic/decorative products,3,IMPORTS,1000 US$,2007,199.90
118,Armenia,engineered wood products,4,IMPORTS,1000 US$,2007,23544.74
123,Armenia,non-wood pulp,5,IMPORTS,1000 US$,2007,0.26
126,Armenia,other manufactured wood products,6,EXPORTS,1000 US$,2007,4.50
127,Armenia,other manufactured wood products,6,IMPORTS,1000 US$,2007,344.50

In [75]:
#drop where flow is not IMPORTS or EXPORTS
grouped_melted.drop(grouped_melted[(grouped_melted['flow'] != 'IMPORTS') & (grouped_melted['flow'] != 'EXPORTS')].index, inplace=True)

In [76]:
grouped_melted['flow'].unique()

array(['IMPORTS', 'EXPORTS'], dtype=object)

In [77]:
grouped_melted2=grouped_melted.copy()

In [80]:
grouped_melted=grouped_melted2.copy()

In [81]:
grouped_melted.head(20)

,country_id,product,product_code,flow,unit,year,value
13,Albania,engineered wood products,4,IMPORTS,1000 US$,2007,15888.03
53,Albania,roundwood,14,EXPORTS,1000 US$,2007,1750.46
55,Albania,roundwood,14,IMPORTS,1000 US$,2007,343.42
59,Albania,sawnwood,16,EXPORTS,1000 US$,2007,12044.33
61,Albania,sawnwood,16,IMPORTS,1000 US$,2007,11551.57
68,Albania,veneer sheets,19,IMPORTS,1000 US$,2007,787.47
71,Albania,wood charcoal,20,EXPORTS,1000 US$,2007,1005.87
76,Albania,wood fuel,21,EXPORTS,1000 US$,2007,1053.76
86,Albania,"wood residue, chips and particles",23,EXPORTS,1000 US$,2007,194.00
93,Albania,wood-based panels,24,IMPORTS,1000 US$,2007,22791.17
106,Armenia,"articles, moulded or pressed from pulp",0,IMPORTS,1000 US$,2007,260.70
107,Armenia,builder's joinery and carpentry of wood,1,EXPORTS,1000 US$,2007,7.80
108,Armenia,builder's joinery and carpentry of wood,1,IMPORTS,1000 US$,2007,2906.90
111,Armenia,case materials,2,IMPORTS,1000 US$,2007,4276.63
114,Armenia,domestic/decorative products,3,EXPORTS,1000 US$,2007,33.90
115,Armenia,domestic/decorative products,3,IMPORTS,1000 US$,2007,199.90
118,Armenia,engineered wood products,4,IMPORTS,1000 US$,2007,23544.74
123,Armenia,non-wood pulp,5,IMPORTS,1000 US$,2007,0.26
126,Armenia,other manufactured wood products,6,EXPORTS,1000 US$,2007,4.50
127,Armenia,other manufactured wood products,6,IMPORTS,1000 US$,2007,344.50

In [84]:
#lets sum all values in the value column where the country_id, flow and year are the same
grouped_melted=grouped_melted.groupby(['country_id', 'flow', 'year']).agg({'value': 'sum'}).reset_index()
grouped_melted.head(20)

   country_id     flow  year      value
0     Albania  EXPORTS  2007   16048.42
1     Albania  EXPORTS  2008   16048.42
2     Albania  EXPORTS  2009   15717.55
3     Albania  EXPORTS  2010   15445.12
4     Albania  EXPORTS  2011  120511.43
5     Albania  EXPORTS  2012  104873.00
6     Albania  EXPORTS  2013   91114.28
7     Albania  EXPORTS  2014   92811.01
8     Albania  EXPORTS  2015   93838.01
9     Albania  EXPORTS  2016   93338.01
10    Albania  EXPORTS  2017  103995.61
11    Albania  EXPORTS  2018  138158.61
12    Albania  EXPORTS  2019  134116.20
13    Albania  EXPORTS  2020   68960.07
14    Albania  EXPORTS  2021  129043.98
15    Albania  IMPORTS  2007   51361.66
16    Albania  IMPORTS  2008   83952.34
17    Albania  IMPORTS  2009   87309.34
18    Albania  IMPORTS  2010   84114.91
19    Albania  IMPORTS  2011  580019.78

In [95]:
#create a new dataframe with the difference between exports and imports per country and year
difference = grouped_melted.pivot(index=['country_id','year'], columns='flow', values='value').reset_index()
difference['difference'] = difference['EXPORTS'] - difference['IMPORTS']
difference.head(20)

flow country_id  year    EXPORTS    IMPORTS  difference
0       Albania  2007   16048.42   51361.66   -35313.24
1       Albania  2008   16048.42   83952.34   -67903.92
2       Albania  2009   15717.55   87309.34   -71591.79
3       Albania  2010   15445.12   84114.91   -68669.79
4       Albania  2011  120511.43  580019.78  -459508.35
5       Albania  2012  104873.00  489760.82  -384887.82
6       Albania  2013   91114.28  469119.51  -378005.23
7       Albania  2014   92811.01  472841.36  -380030.35
8       Albania  2015   93838.01  472857.36  -379019.35
9       Albania  2016   93338.01  472902.36  -379564.35
10      Albania  2017  103995.61  394409.69  -290414.08
11      Albania  2018  138158.61  560013.05  -421854.44
12      Albania  2019  134116.20  576907.47  -442791.27
13      Albania  2020   68960.07  567635.39  -498675.32
14      Albania  2021  129043.98  842028.09  -712984.11
15      Armenia  2007   13657.00  279611.18  -265954.18
16      Armenia  2008    6797.92  363642.55  -356844.63
17      Armenia  2009    6269.14  404074.22  -397805.08
18      Armenia  2010    4669.93  382234.42  -377564.49
19      Armenia  2011    4356.12  472564.93  -468208.81

In [87]:
#check for null values in the dataset
difference.isnull().sum()
#display rows with null values
difference[difference.isnull().any(axis=1)]

flow     country_id  year  EXPORTS    IMPORTS  difference
405   Liechtenstein  2007   3776.0        NaN         NaN
406   Liechtenstein  2008   3776.0        NaN         NaN
407   Liechtenstein  2009   3102.4        NaN         NaN
408   Liechtenstein  2010   2320.0        NaN         NaN
409   Liechtenstein  2011   2136.0        NaN         NaN
680      Tajikistan  2007      NaN   23883.40         NaN
681      Tajikistan  2008      NaN   25465.60         NaN
682      Tajikistan  2009      NaN   24302.20         NaN
683      Tajikistan  2010      NaN   24001.40         NaN
710    Turkmenistan  2011      NaN  227495.92         NaN

In [88]:
#make a copy of the difference dataframe
difference2=difference.copy()

In [89]:
#export to csv
difference2.to_csv('../data/raw/trade_deficit2.csv', index=False)

So we have gotten a table with trade deficit, now we are going to drop all null rows , as it will hamper our data, as replacing with zero doesn´t help our analysis, since we are looking for performance

In [90]:
#drop all rows where the difference is null
difference.dropna(subset=['difference'], inplace=True)

#check for null values in the dataset
difference.isnull().sum()

flow
country_id    0
year          0
EXPORTS       0
IMPORTS       0
difference    0
dtype: int64

In [91]:
#rename difference column to deficit
difference.rename(columns={'difference':'deficit'}, inplace=True)

In [92]:
display(difference.head(20))

flow country_id  year    EXPORTS    IMPORTS    deficit
0       Albania  2007   16048.42   51361.66  -35313.24
1       Albania  2008   16048.42   83952.34  -67903.92
2       Albania  2009   15717.55   87309.34  -71591.79
3       Albania  2010   15445.12   84114.91  -68669.79
4       Albania  2011  120511.43  580019.78 -459508.35
5       Albania  2012  104873.00  489760.82 -384887.82
6       Albania  2013   91114.28  469119.51 -378005.23
7       Albania  2014   92811.01  472841.36 -380030.35
8       Albania  2015   93838.01  472857.36 -379019.35
9       Albania  2016   93338.01  472902.36 -379564.35
10      Albania  2017  103995.61  394409.69 -290414.08
11      Albania  2018  138158.61  560013.05 -421854.44
12      Albania  2019  134116.20  576907.47 -442791.27
13      Albania  2020   68960.07  567635.39 -498675.32
14      Albania  2021  129043.98  842028.09 -712984.11
15      Armenia  2007   13657.00  279611.18 -265954.18
16      Armenia  2008    6797.92  363642.55 -356844.63
17      Armenia  2009    6269.14  404074.22 -397805.08
18      Armenia  2010    4669.93  382234.42 -377564.49
19      Armenia  2011    4356.12  472564.93 -468208.81

# RAW MATERIALS 

We will attempt to investigate european countries and their contribution to raw materials export volume

In [107]:
#get unique values in the country_id column
data['country_id'].unique()

array(['Albania', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus',
       'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Canada',
       'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland',
       'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'Ireland', 'Israel', 'Italy', 'Kazakhstan', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Montenegro', 'Netherlands',
       'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Serbia',
       'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'Turkmenistan', 'Ukraine', 'United Kingdom', 'United States',
       'Uzbekistan', 'Tajikistan'], dtype=object)

In [108]:
data['product'].unique()

array(['paper,print and packaging', 'roundwood', 'sawnwood',
       "builder's joinery and carpentry of wood",
       'domestic/decorative products', 'other manufactured wood products',
       'secondary processed wooden products', 'veneer sheets',
       'wood-based panels', 'wooden furniture',
       'wooden wrapping and packing equipment',
       'articles, moulded or pressed from pulp', 'case materials',
       'engineered wood products', 'non-wood pulp', 'other pulp',
       'prefabricated buildings (discontinued 2017)',
       'prefabricated buildings of wood', 'pulpwood',
       'recovered fibre pulp', 'wood charcoal', 'wood fuel',
       'wood residue, chips and particles', 'woodpulp',
       'wood pellets and other wood agglomerates',
       'recovered post-consumer wood'], dtype=object)

For Raw material we will consider some selected raw material like :'roundwood', 'wood fuel', 'sawlogs and veneer logs', 'pulpwood', 'sawnwood'.

and we are concerned only with european states, so we will exclude non european countries [ United States, Canada, Isreal, Kyrgzstan, Tajikstan, Turkmenistan and Uzbekistan]

In [125]:
#make a list of raw materials to be used in the next step and coubtries that are not in the euro zone

raw_material = ['roundwood', 'wood fuel', 'sawlogs and veneer logs', 'pulpwood', 'sawnwood']

non_euro_states =  [ 'United States', 'Canada', 'Isreal', 'Kyrgzstan', 'Tajikstan', 'Turkmenistan' , 'Uzbekistan']

In [135]:
data.head(20)

,country_id,product,product_code,flow,unit,year,value
0,Albania,"paper,print and packaging",8,EXPORTS,1000 m.t.,2007,0.08
1,Albania,"paper,print and packaging",8,IMPORTS,1000 m.t.,2007,20.63
2,Albania,roundwood,14,EXPORTS,1000 US$,2007,1750.46
3,Albania,roundwood,14,EXPORTS,1000 m3,2007,58.59
4,Albania,roundwood,14,IMPORTS,1000 US$,2007,343.42
5,Albania,roundwood,14,IMPORTS,1000 m3,2007,2.95
6,Albania,roundwood,14,REMOVALS,1000 m3,2007,1149.97
7,Albania,sawnwood,16,EXPORTS,1000 US$,2007,12044.33
8,Albania,sawnwood,16,EXPORTS,1000 m3,2007,65.48
9,Albania,sawnwood,16,IMPORTS,1000 US$,2007,11551.57
10,Albania,sawnwood,16,IMPORTS,1000 m3,2007,65.75
11,Albania,sawnwood,16,PRODUCTION,1000 m3,2007,16.00
12,Armenia,builder's joinery and carpentry of wood,1,EXPORTS,1000 US$,2007,7.80
13,Armenia,builder's joinery and carpentry of wood,1,IMPORTS,1000 US$,2007,2906.90
14,Armenia,domestic/decorative products,3,EXPORTS,1000 US$,2007,33.90
15,Armenia,domestic/decorative products,3,IMPORTS,1000 US$,2007,199.90
16,Armenia,other manufactured wood products,6,EXPORTS,1000 US$,2007,4.50
17,Armenia,other manufactured wood products,6,IMPORTS,1000 US$,2007,344.50
18,Armenia,"paper,print and packaging",8,EXPORTS,1000 US$,2007,11009.58
19,Armenia,"paper,print and packaging",8,EXPORTS,1000 m.t.,2007,0.11

In [136]:
#melt the data
data_melted = grouped.melt(id_vars=['country_id','product','product_code','flow','unit']).rename(columns={"variable":"year"})
data_melted.head(20)

,country_id,product,product_code,flow,unit,year,value
0,Albania,"articles, moulded or pressed from pulp",0,EXPORTS,1000 US$,2007,0.00
1,Albania,"articles, moulded or pressed from pulp",0,IMPORTS,1000 US$,2007,0.00
2,Albania,builder's joinery and carpentry of wood,1,EXPORTS,1000 US$,2007,0.00
3,Albania,builder's joinery and carpentry of wood,1,IMPORTS,1000 US$,2007,0.00
4,Albania,case materials,2,EXPORTS,1000 US$,2007,0.00
5,Albania,case materials,2,EXPORTS,1000 m.t.,2007,0.00
6,Albania,case materials,2,IMPORTS,1000 US$,2007,0.00
7,Albania,case materials,2,IMPORTS,1000 m.t.,2007,0.00
8,Albania,case materials,2,PRODUCTION,1000 m.t.,2007,0.00
9,Albania,domestic/decorative products,3,EXPORTS,1000 US$,2007,0.00
10,Albania,domestic/decorative products,3,IMPORTS,1000 US$,2007,0.00
11,Albania,engineered wood products,4,EXPORTS,1000 US$,2007,0.00
12,Albania,engineered wood products,4,EXPORTS,1000 m3,2007,0.00
13,Albania,engineered wood products,4,IMPORTS,1000 US$,2007,15888.03
14,Albania,engineered wood products,4,IMPORTS,1000 m3,2007,140.81
15,Albania,engineered wood products,4,PRODUCTION,1000 m3,2007,12.00
16,Albania,non-wood pulp,5,EXPORTS,1000 US$,2007,0.00
17,Albania,non-wood pulp,5,EXPORTS,1000 m.t.,2007,0.00
18,Albania,non-wood pulp,5,IMPORTS,1000 US$,2007,0.00
19,Albania,non-wood pulp,5,IMPORTS,1000 m.t.,2007,0.00

In [139]:
data_melted3=data_melted.copy()

In [140]:
#drop all rows where the flow is not EXPORTS
data_melted3.drop(data_melted3[(data_melted3['flow'] != 'EXPORTS')].index, inplace=True)
data_melted3.head(20)

,country_id,product,product_code,flow,unit,year,value
0,Albania,"articles, moulded or pressed from pulp",0,EXPORTS,1000 US$,2007,0.00
2,Albania,builder's joinery and carpentry of wood,1,EXPORTS,1000 US$,2007,0.00
4,Albania,case materials,2,EXPORTS,1000 US$,2007,0.00
5,Albania,case materials,2,EXPORTS,1000 m.t.,2007,0.00
9,Albania,domestic/decorative products,3,EXPORTS,1000 US$,2007,0.00
11,Albania,engineered wood products,4,EXPORTS,1000 US$,2007,0.00
12,Albania,engineered wood products,4,EXPORTS,1000 m3,2007,0.00
16,Albania,non-wood pulp,5,EXPORTS,1000 US$,2007,0.00
17,Albania,non-wood pulp,5,EXPORTS,1000 m.t.,2007,0.00
21,Albania,other manufactured wood products,6,EXPORTS,1000 US$,2007,0.00
23,Albania,other pulp,7,EXPORTS,1000 US$,2007,0.00
24,Albania,other pulp,7,EXPORTS,1000 m.t.,2007,0.00
28,Albania,"paper,print and packaging",8,EXPORTS,1000 US$,2007,0.00
29,Albania,"paper,print and packaging",8,EXPORTS,1000 m.t.,2007,0.08
33,Albania,prefabricated buildings (discontinued 2017),9,EXPORTS,1000 US$,2007,0.00
35,Albania,prefabricated buildings of wood,10,EXPORTS,1000 US$,2007,0.00
37,Albania,pulpwood,11,EXPORTS,1000 US$,2007,0.00
38,Albania,pulpwood,11,EXPORTS,1000 m.t.,2007,0.00
43,Albania,recovered fibre pulp,12,EXPORTS,1000 US$,2007,0.00
44,Albania,recovered fibre pulp,12,EXPORTS,1000 m.t.,2007,0.00

In [142]:
#drop all rows where the unit is sales 1000 US$
data_melted3.drop(data_melted3[(data_melted3['unit'] == '1000 US$')].index, inplace=True)
data_melted3.head(20)

,country_id,product,product_code,flow,unit,year,value
5,Albania,case materials,2,EXPORTS,1000 m.t.,2007,0.00
12,Albania,engineered wood products,4,EXPORTS,1000 m3,2007,0.00
17,Albania,non-wood pulp,5,EXPORTS,1000 m.t.,2007,0.00
24,Albania,other pulp,7,EXPORTS,1000 m.t.,2007,0.00
29,Albania,"paper,print and packaging",8,EXPORTS,1000 m.t.,2007,0.08
38,Albania,pulpwood,11,EXPORTS,1000 m.t.,2007,0.00
44,Albania,recovered fibre pulp,12,EXPORTS,1000 m.t.,2007,0.00
49,Albania,recovered post-consumer wood,13,EXPORTS,1000 m.t.,2007,0.00
54,Albania,roundwood,14,EXPORTS,1000 m3,2007,58.59
60,Albania,sawnwood,16,EXPORTS,1000 m3,2007,65.48
67,Albania,veneer sheets,19,EXPORTS,1000 m3,2007,0.00
72,Albania,wood charcoal,20,EXPORTS,1000 m.t.,2007,4.00
77,Albania,wood fuel,21,EXPORTS,1000 m3,2007,56.30
82,Albania,wood pellets and other wood agglomerates,22,EXPORTS,1000 m.t.,2007,0.00
87,Albania,"wood residue, chips and particles",23,EXPORTS,1000 m3,2007,7.80
92,Albania,wood-based panels,24,EXPORTS,1000 m3,2007,0.00
101,Albania,woodpulp,27,EXPORTS,1000 m.t.,2007,0.00
110,Armenia,case materials,2,EXPORTS,1000 m.t.,2007,0.00
117,Armenia,engineered wood products,4,EXPORTS,1000 m3,2007,0.00
122,Armenia,non-wood pulp,5,EXPORTS,1000 m.t.,2007,0.00

In [143]:
def drop_rows(df, column_name, allowed_values):
    """
    Drops rows from a DataFrame if the values in a specified column
    are not found in the given list of allowed values.

    Args:
        df (pd.DataFrame): The DataFrame to modify.
        column_name (str): The name of the column to check for values.
        allowed_values (list): A list of allowed values to retain in the DataFrame.

    Returns:
        pd.DataFrame: The modified DataFrame with rows dropped.
    """
    return df[df[column_name].isin(allowed_values)]

In [144]:

data_melted3= drop_rows(data_melted3, 'product', raw_material)
display(data_melted3.head(20))

     country_id    product  product_code     flow       unit  year     value
38      Albania   pulpwood            11  EXPORTS  1000 m.t.  2007      0.00
54      Albania  roundwood            14  EXPORTS    1000 m3  2007     58.59
60      Albania   sawnwood            16  EXPORTS    1000 m3  2007     65.48
77      Albania  wood fuel            21  EXPORTS    1000 m3  2007     56.30
143     Armenia   pulpwood            11  EXPORTS  1000 m.t.  2007      0.00
158     Armenia  roundwood            14  EXPORTS    1000 m3  2007     13.22
164     Armenia   sawnwood            16  EXPORTS    1000 m3  2007      0.70
181     Armenia  wood fuel            21  EXPORTS    1000 m3  2007      0.00
247     Austria   pulpwood            11  EXPORTS  1000 m.t.  2007    284.01
263     Austria  roundwood            14  EXPORTS    1000 m3  2007   4409.99
269     Austria   sawnwood            16  EXPORTS    1000 m3  2007  22999.78
286     Austria  wood fuel            21  EXPORTS    1000 m3  2007     45.00
352  Azerbaijan   pulpwood            11  EXPORTS  1000 m.t.  2007      0.00
363  Azerbaijan  roundwood            14  EXPORTS    1000 m3  2007      0.05
369  Azerbaijan   sawnwood            16  EXPORTS    1000 m3  2007      2.18
386  Azerbaijan  wood fuel            21  EXPORTS    1000 m3  2007      0.00
452     Belarus   pulpwood            11  EXPORTS  1000 m.t.  2007      0.10
467     Belarus  roundwood            14  EXPORTS    1000 m3  2007   7251.45
473     Belarus   sawnwood            16  EXPORTS    1000 m3  2007   3583.50
490     Belarus  wood fuel            21  EXPORTS    1000 m3  2007     74.55

In [146]:
data_melted3['product'].unique()

array(['pulpwood', 'roundwood', 'sawnwood', 'wood fuel'], dtype=object)

In [147]:
#read data_melted3 to csv
data_melted3.to_csv('../data/raw/raw_material_export.csv', index=False)